<div class="card p3 m-3">
    <div class="content">
        <div>
            <h4>Назва</h4>
        </div>
        <div class='text#'>
            <p>Опис</p>
        </div>
        <small>(не працює)</small>
        <div>
            <code>код</code>
        </div>
    </div>
</div>