{{#with data}}
<div class='row p-4'>
    {{#each cards}}
    <div class='col-6'>
        <div class='content'>
            <div class='display'>
                <h4>{{name}}</h4>
            </div>
            <div class='text'>
                <p>{{text}}</p>
            </div>
            <div>
                <pre>
                    {{code}}
                </pre>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{/with}}