{{#with main}}
<div class='row p-4'>
    {{#each content}}
    <div class='col-6'>
        <div class='content'>
            <div class='display'>
                <h4>{{name}}</h4>
            </div>
            <div class='text'>
                <p>{{text}}</p>
            </div>
            <div>
                {{#if @first}}
                {{>code-1}}
                {{else}}
                {{>code-2}}
                {{/if}}
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{/with}}