<div class="card centered-div p-5 m-5">
    <h2 class="p-3">Це мій персональний конспект по CSS</h2>
</div>

<div class="toggleContainer">
    <input type="checkbox" id="toggleBtn" class="toggleBtn">
    <label for="toggleBtn" class="toggleLabel"></label>
</div>