<main class='p-5'>
    <section class="row">
        <div class='card p-5 col-3 m-3'>
            <p><strong> in progress...</strong></p>
        </div>

        <div class='card p-5 col-3 m-3'>
            <p> in progress...</p>
        </div>

        <div class='p-5 col-3 m-3'>
            <h3> in progress...</h3>
        </div>
    </section>
</main>