* {
  font-family: 'Montserrat', sans-serif;
  font-display: swap;
  font-optical-sizing: auto;
}

body {
  background: #ffffff;
}

code {
  color: blue;
}
.text1 > p {
  color: lab(90, 10, -45);
  color: gray;
}

.text2 > p {
  background-color: lch(70, 50, 120);
}

.text3 > p {
  background-color: color-mix(#ff0000, #7bff00);
}

.text4 > input {
  width: 30px;
  height: 30px;
}

h3 {
  color: orange;
  text-align: center;
}

h4 {
  color: rgb(87, 73, 244);
  text-align: center;
}

.card {
  background-color: whitesmoke;
}

.text5 {
  background: hwb(12 50% 0%);
}

.text6 {
  print-color-adjust: economy;
}

.text7 {
  text-rendering: optimizeSpeed;
}

.text8 {
  text-emphasis: filled double-circle #ffb703;
}

.text9 > ul .filled {
  text-emphasis-style: filled;
}

.text9 > ul .open {
  text-emphasis-style: open;
}

.text9 > ul .dot {
  text-emphasis-style: dot;
}

.text9 > ul .circle {
  text-emphasis-style: circle;
}

.text9 > ul .triangle {
  text-emphasis-style: triangle;
}

.text9 > ul .sesame {
  text-emphasis-style: sesame;
}

.text11 {
  font-kerning: auto;
}

.container {
  display: flex;
  width: max-content;
  padding: 0;
}

.col-sm-6 {
  display: flex;
}

.content {
  background-color: #f9f9f9;
  box-shadow: 1px 2px 5px gray;
  margin: 10px;
  padding: 15px;
}

.text12 {
  font-variant-numeric: slashed-zero;
}

.text13 {
  font-variant-caps: small-caps;
}

.nav-link.active {
  background-color: #39026f;
  font-weight: bold;
}
