* {
  font-family: 'Montserrat', sans-serif;
  font-display: swap;
  font-optical-sizing: auto;
}

body {
  background: rgb(255, 255, 255);
}

.content {
  background-color: #f9f9f9;
  box-shadow: 1px 2px 5px gray;
  margin: 3px;
  padding: 15px;
  border: 2px solid #0a9b0c;
  border-radius: 7px 7px 7px 7px;
  cursor: pointer;
  vertical-align: baseline;
}

pre {
  color: #0800a9;
}

.div {
  color: gray;
  border: 1px solid #000000;
}

span {
  display: inline;
}

.lesson13 {
  margin: 25px;
  background: rgb(94, 251, 149);
  padding: 30px;
  outline: 4px solid red;
}

.lesson13 > p {
  color: blue;
}

.lesson13 > span {
  display: inline;
  background: yellow;
  padding: 10px;
  margin: auto;
  min-width: 120px;
  box-sizing: content-box;
}

.nav-link.active {
  background-color: #39026f;
  font-weight: bold;
}
