* {
  font-family: 'Montserrat', sans-serif;
  font-display: swap;
  font-optical-sizing: auto;
}

body {
  background: rgb(255, 255, 255);
}

.content {
  background-color: #f9f9f9;
  box-shadow: 1px 2px 5px gray;
  margin: 3px;
  padding: 15px;
}

pre {
  color: #0800a9;
}

.div {
  color: gray;
  /* display: none;
  display: block;
  display: inline;
  display: inline-block; */
}

span {
  display: inline;
}

.lesson11 {
  margin: 25px;
  background: rgb(94, 251, 149);
  padding: 30px;
}

.lesson > p {
  color: blue;
}

div > .p1 {
  display: block;
  background: rgb(255, 255, 255);
  margin: auto;
  width: 22%;
}

.lesson11 > span {
  display: inline;
  background: yellow;
  padding: 10px;
  margin: auto;
  min-width: 120px;
  box-sizing: content-box;
}

.nav-link.active {
  background-color: #39026f;
  font-weight: bold;
}
