* {
  font-family: 'Montserrat', sans-serif;
  font-display: swap;
  font-optical-sizing: auto;
}

body {
  background: rgb(255, 255, 255);
}

.content {
  background-color: #f9f9f9;
  box-shadow: 1px 2px 5px gray;
  margin: 3px;
  padding: 15px;
}

pre {
  color: #0800a9;
}

.div {
  color: gray;
  /* display: none;
  display: block;
  display: inline;
  display: inline-block; */
}
