* {
  font-family: 'Montserrat', sans-serif;
  font-display: swap;
  font-optical-sizing: auto;
}

body {
  background: #ffffff;
}

body.dark {
  background-color: rgb(40, 36, 55);
}

.toggleBtn {
  z-index: 2;
  padding: 1rem;
  text-align: center;
  border-radius: 5rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 1.5px 1.5px 5px #373636;
  background: linear-gradient(145deg, #e1e1e1, #fff);
}

.bgMove {
  position: relative;
  top: 50%;
  z-index: -1;
  border-radius: 50%;
  transition: all 0.4s linear;
  transform: translate(80%, -50%);
  background-color: rgb(27, 23, 23);
}

.fa-sun {
  color: white;
}

.bgMove.active {
  color: white;
  z-index: -2;
  transition: all 0.4s linear;
  transform: translate(340%, -50%);
  background-color: rgb(27, 23, 23);
}

.dark {
  color: rgb(16, 14, 14);
  transition: all 0.4s linear;
}

.active {
  color: white;
  transition: all 0.4s linear;
}

.active body {
  background-color: purple;
}

i {
  z-index: 4;
  width: 100px;
  margin: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  transition: all 0.4s linear;
}

code {
  color: blue;
}
.text1 > p {
  color: lab(90, 10, -45);
  color: gray;
}

.text2 > p {
  background-color: lch(70, 50, 120);
}

.text3 > p {
  background-color: color-mix(#ff0000, #7bff00);
}

.text4 > input {
  width: 30px;
  height: 30px;
}

h3 {
  color: orange;
  text-align: center;
}

h4 {
  color: rgb(87, 73, 244);
  text-align: center;
}

.card {
  background-color: whitesmoke;
}

.text5 {
  background: hwb(12 50% 0%);
}

.text6 {
  print-color-adjust: economy;
}

.text7 {
  text-rendering: optimizeSpeed;
}

.text8 {
  text-emphasis: filled double-circle #ffb703;
}

.text9 > ul .filled {
  text-emphasis-style: filled;
}

.text9 > ul .open {
  text-emphasis-style: open;
}

.text9 > ul .dot {
  text-emphasis-style: dot;
}

.text9 > ul .circle {
  text-emphasis-style: circle;
}

.text9 > ul .triangle {
  text-emphasis-style: triangle;
}

.text9 > ul .sesame {
  text-emphasis-style: sesame;
}

.text11 {
  font-kerning: auto;
}

.container {
  display: flex;
  width: max-content;
  padding: 0;
}

.col-sm-6 {
  display: flex;
}

.content {
  background-color: #f9f9f9;
  box-shadow: 1px 2px 5px gray;
  margin: 10px;
  padding: 15px;
}

.text12 {
  font-variant-numeric: slashed-zero;
}

.text13 {
  font-variant-caps: small-caps;
}

.nav-link.active {
  background-color: #39026f;
  font-weight: bold; 
}
