* {
  font-family: 'Montserrat', sans-serif;
  font-display: swap;
  font-optical-sizing: auto;
}

body {
  background: rgb(255, 255, 255);
}

.nav-link.active {
  background-color: #39026f;
  font-weight: bold;
}
