* {
  font-family: 'Montserrat', sans-serif;
  font-display: swap;
  font-optical-sizing: auto;
}

body {
  background: #ffffff;
}

.centered-div {
  background: cornflowerblue;
  border-width: medium;
  border-style: ridge;
}

.centered-div > h2 {
  color: rgb(215, 255, 17);
  width: 60%;
  margin: 0 auto;
}

.nav-link.active {
  background-color: #39026f;
  font-weight: bold;
}
