{{#with data}}
<div class="card">
    <div class="card_image" style="background-image: url({{photo}})"><span class="span_news">{{#if
            isNew}}NEW{{/if}}</span></div>
    <h2 class="card_title">{{name}}</h2>
    <p class="card_text">{{description}}</p>
    <span class="card_info">Read All</span>
</div>
{{/with}}