<code class="code-block" id="hiddenCode" style="display: none;">
<pre>

.div {
  display: none;  (Елемент не відображається на веб-сторінці та займає нульовий розмір)
  display: block;  (Елемент відображається як блок, займає всю доступну ширину батьківського елемента і починається з нового рядка)
  display: inline;  (Елемент відображається в рядку, поряд з іншими елементами, і не переноситься на новий рядок)
  display: inline-block; (Елемент відображається в рядку, але може мати ширину, висоту, внутрішні відступи та інші властивості блокових елементів)
}

  display: none; рекомендується застосовувати разом з атрибутом hidden у тегах:

&lt;div <strong>hidden</strong>&gt;Контент в середині не буде відображатись&lt;/div&gt;


<strong>Блокові елементи</strong>

&lt;address&gt;, &lt;article&gt;, &lt;aside&gt;,
&lt;blockquote&gt;,
&lt;dd&gt;, &lt;div&gt;, &lt;dl&gt;, &lt;dt&gt;, &lt;details&gt;,
&lt;fieldset&gt;, &lt;figcaption&gt;, &lt;figure&gt;, &lt;footer&gt;, &lt;form&gt;,
&lt;h1&gt;-&lt;h6&gt;, &lt;header&gt;, &lt;hr&gt;,
&lt;li&gt;, &lt;legend&gt;,
&lt;nav&gt;, &lt;noscript&gt;,
&lt;ol&gt;, &lt;output&gt;, &lt;optgroup&gt;, &lt;option&gt;,
&lt;p&gt;, &lt;pre&gt;,
&lt;section&gt;, &lt;summary&gt;,
&lt;table&gt;,
&lt;ul&gt;

<strong>Лінійні елементи</strong>

&lt;a&gt;, &lt;area&gt;,
&lt;b&gt;, &lt;bdo&gt;, &lt;bdi&gt;,
&lt;cite&gt;, &lt;code&gt;,
&lt;dfn&gt;, &lt;del&gt;,
&lt;em&gt;,&lt;i&gt;, &lt;iframe&gt;, &lt;img&gt;, &lt;ins&gt;,
&lt;kbd&gt;,&lt;label&gt;,&lt;map&gt;, &lt;mark&gt;,
&lt;s&gt;, &lt;samp&gt;, &lt;small&gt;, &lt;span&gt;, &lt;strong&gt;, &lt;sub&gt;, &lt;sup&gt;,
&lt;time&gt;,&lt;q&gt;,&lt;ruby&gt;,&lt;u&gt;,&lt;var&gt;.
</pre>
</code>
<button onclick="toggleCodeVisibility()">Показати код</button>