<code class="code-block" id="hiddenCode" style="display: none;">

<pre>

.div {
  display: none;  (Елемент не відображається на веб-сторінці та займає нульовий розмір)
  display: block;  (Елемент відображається як блок, займає всю доступну ширину батьківського елемента і починається з нового рядка)
  display: inline;  (Елемент відображається в рядку, поряд з іншими елементами, і не переноситься на новий рядок)
  display: inline-block; (Елемент відображається в рядку, але може мати ширину, висоту, внутрішні відступи та інші властивості блокових елементів)
}

  display: none; рекомендується застосовувати разом з атрибутом hidden у тегах:

&lt;div <strong>hidden</strong>&gt;Контент в середині не буде відображатись&lt;/div&gt;

</pre>
</code>
<button onclick="toggleCodeVisibility()">Показати код</button>