<p>
    <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#target">
        Показати код
    </button>
</p>
<div id="target" class="collapse collapse-horizontal">
    <div class="card" style="width: 800px;">
        {{#if @first}}
        {{>code-1}}
        {{else}}
        {{>code-2}}
        {{/if}}
    </div>