<ul class="nav nav-tabs mt-5">
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/cssLesson10">CSS|Lesson10</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/cssLesson11">CSS|Lesson11</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/cssLesson12">CSS|Lesson12</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/cssLesson13">CSS|Lesson13</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/template-1">CSS|template-1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/template-2">CSS|template-2</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/template-3">CSS|template-3</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/template-4">CSS|template-4</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/template-5">CSS|template-5</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/template-6">CSS|template-6</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/template-7">CSS|template-7</a>
    </li>
</ul>